# Wikipedia data transformations

In [ ]:
# install a magic to reload the src directory
%load_ext autoreload
%autoreload 2

In [162]:
!tree ../data/

../data/
├── external
├── interim
├── processed
└── raw
    └── enwiki-20080103.main.bz2

4 directories, 1 file

Read data into Spark. Reading through all the data by counting takes ~2 hours with 8 cores.

In [26]:
from pyspark.sql import SparkSession, functions as F
import os

spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
conf = sc._jsc.hadoopConfiguration()
conf.set("textinputformat.record.delimiter", "\n\n")

input_file = 'enwiki-20080103.main.bz2'
rdd = sc.textFile(os.path.join("../data/raw", input_file))

In [ ]:
%time rdd.count()

Spark has dataframe support like dyplr or pandas. We add typing and partition to reduce the overhead of processing this a second time.

We can programatically access the schemas, used when coercing string values into the correct type.

In [147]:
from src.data import import_wikipedia as impwiki
from pyspark.sql import types as T

# how to access the datatype of a schema
schema = impwiki.wikipedia_schema
schema['article_id'].dataType

# how we can add typing easily to new string data
# TODO: test case

cast_map = {
    T.IntegerType: int,
    T.BooleanType: bool,
    T.StringType: str,
}

for name in impwiki.wikipedia_schema.fieldNames():
    cast_map[type(imw.wikipedia_schema[name].dataType)](0)

IntegerType

Apply the schema and create a temporary table.

In [175]:
enwiki_df = spark.createDataFrame(
    rdd.map(impwiki.process_edit), 
    schema=impwiki.wikipedia_schema
)

enwiki_df.createOrReplaceTempView('enwiki')
enwiki_df.show(truncate=False, vertical=True, n=1)

-RECORD 0-----------------------------
 article_id    | 6
 rev_id        | 233188
 article_title | AmericanSamoa
 timestamp     | 2001-01-19T01:12:51Z
 username      | ip:office.bomis.com
 user_id       | ip:office.bomis.com
 category      | null
 image         | null
 main          | null
 talk          | null
 user          | null
 user_talk     | null
 other         | null
 external      | null
 template      | null
 comment       | *
 minor         | true
 textdata      | 1516
only showing top 1 row

Let there be light. Here's the beginning of Wikipedia using Spark as a query engine. But if we take a second look, the timestamps are out of order and we're starting off at revision 233188.

In [168]:
spark.sql("""
SELECT 
    timestamp,
    article_id, 
    rev_id,
    user_id,
    username,
    minor,
    textdata
FROM 
    enwiki
""").show()

+--------------------+----------+---------+--------------------+--------------------+-----+--------+
|           timestamp|article_id|   rev_id|             user_id|            username|minor|textdata|
+--------------------+----------+---------+--------------------+--------------------+-----+--------+
|2001-01-19T01:12:51Z|         6|   233188| ip:office.bomis.com| ip:office.bomis.com| true|    1516|
|2007-05-24T14:41:33Z|         6|133180191|             4477979|            Ngaiklin| true|       5|
|2001-01-20T15:01:12Z|         8|   233189|ip:pD950754B.dip....|ip:pD950754B.dip....| true|       9|
|2007-05-24T14:41:48Z|         8|133180238|             4477979|            Ngaiklin| true|       6|
|2001-01-21T02:12:21Z|        10|   233192|                  99|           RoseParks| true|       8|
|2007-05-24T14:41:58Z|        10|133180268|             4477979|            Ngaiklin| true|       6|
|2002-02-25T15:00:22Z|        12|    18201|ip:Conversion_script|ip:Conversion_script| true|    1214|
|2002-02-25T15:43:11Z|        12|    19746|   ip:140.232.153.45|   ip:140.232.153.45| true|    1460|
|2002-02-27T17:34:09Z|        12|    19749|    ip:24.188.31.147|    ip:24.188.31.147| true|    1474|
|2002-02-27T17:36:41Z|        12|    20514|    ip:24.188.31.147|    ip:24.188.31.147| true|    1483|
|2002-03-01T00:13:17Z|        12|    42733|   ip:213.253.39.175|   ip:213.253.39.175| true|    1483|
|2002-04-02T09:51:25Z|        12|    42738|     ip:206.82.16.35|     ip:206.82.16.35| true|    1489|
|2002-04-02T09:53:06Z|        12|    42740|     ip:206.82.16.35|     ip:206.82.16.35| true|    1488|
|2002-04-02T09:54:12Z|        12|    42743|     ip:206.82.16.35|     ip:206.82.16.35| true|    1483|
|2002-04-02T09:55:36Z|        12|    43618|                  43|  Lee_Daniel_Crocker| true|    1468|
|2002-07-18T14:33:46Z|        12|    59361|                 170|                   0| true|    1169|
|2002-04-26T07:02:43Z|        12|    61039|    ip:80.65.225.191|    ip:80.65.225.191| true|    1504|
|2002-05-01T14:18:43Z|        12|    61179|                 372|       Eclecticology| true|    1506|
|2002-05-01T20:54:35Z|        12|    61193|                 372|       Eclecticology| true|    1507|
|2002-04-03T07:36:30Z|        12|    67475|                  17|      Peter_Winnberg| true|    1468|
+--------------------+----------+---------+--------------------+--------------------+-----+--------+
only showing top 20 rows

Double check that the timestamps are actually out of order after casting into a timestamp.

In [172]:
spark.sql("SELECT cast(timestamp as TIMESTAMP) FROM enwiki").show(n=6)

+-------------------+
|          timestamp|
+-------------------+
|2001-01-18 17:12:51|
|2007-05-24 07:41:33|
|2001-01-20 07:01:12|
|2007-05-24 07:41:48|
|2001-01-20 18:12:21|
|2007-05-24 07:41:58|
+-------------------+
only showing top 6 rows

In [181]:
from pyspark.sql import functions as F

# take a few values
(
    enwiki_df
    .select(F.col('timestamp').cast('timestamp'))
    .limit(1000)
    .select(F.min('timestamp'), F.max('timestamp'))
).show()

+-------------------+-------------------+
|     min(timestamp)|     max(timestamp)|
+-------------------+-------------------+
|2001-01-18 17:12:51|2007-05-24 07:41:58|
+-------------------+-------------------+